/* SETTINGS */
:root{
    /* Comment utiliser des variable ?
    *  écrire :
    *           color : var(--black);
    *  à la place de
    *           color : black;
    */
    --black : #000000;
    --white : #fffbfb;
    --sncf : #9B2743;
    --footer : rgb(224, 224, 224);

    --ff-avenir : 'Avenir', Arial, sans-serif;
}
h1,h2,h3{
    color : var(--sncf);
    font-weight: bold;
}
a{
    text-decoration: none;
    color : var(--black)

}
h1{
    font-size: 3em;
}
h2{
    font-size : 2em;
}
*{
    margin : 0;
    padding: 0;
    font-family: var(--ff-avenir);
}
html, body{
    height: 100%;
}
/* BODY */
body{
    display: flex;
    flex-direction: column;
}

/* HEADER */
header{
    height: 175px;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header>.container{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    max-width: 1000px;
    width: 80%;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-around;*/
}
header>.container>img{
    height: 85px;
    grid-column: 1;
    margin:auto
}
header>.container>h1{
    grid-column: 3;
    justify-self: end;
    align-self: center;
}

/* MAIN */
main{
    position : relative;
    height: 100%;
    /*background-image: linear-gradient(white, white), url(../img/bg_sncf.jpg);*/
    background-blend-mode: saturation;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main:has(> div#connexion) {
    background-image: linear-gradient(white, white), url(../img/bg_sncf.jpg);
}

main:has(> div#inscription) {
    background-image: linear-gradient(white, white), url(../img/bg_sncf.jpg);
}

#map{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#back{
    width: 5%;
    padding: 20px;
    display: none;
}
.loader{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    Margin: 0;
    height: 12%;
    width: 10%;
}
#connexion, #inscription, #choixGare, #itineraire {
    max-width: 800px;
    width: 60%;
    background-color: var(--white);
    border-radius: 25px;
    padding: 50px;
    padding-left: 100px;padding-right: 100px;
}
#connexion h2, #connexion p, #itineraire h2, #itineraire p, #inscription h2, #inscription p{
    text-align: center;
}
input{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-width: 0;
    background-color: var(--sncf);
    color: var(--white);
    font-weight: bold;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */
footer{
    background-color: var(--footer);
    left: 0;
    bottom: 0;
    width: 100%;
}
footer>.container{
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer>.container>hr{
    height: 15px;
    border-color : var(--black);
    background-color: var(--black);
}
footer>.container>a>p{
    margin: 10px;
}